---
apiVersion: v1
kind: ConfigMap
metadata:
  # name: {{ .Chart.Name }}-configmap
  name: {{ .Release.Name }}-configmap
data:
  nr-ue.conf: # current deployment does not need this config file but still it is there for future use
      uicc0 = {
      imsi = "{{ .Values.config.fullImsi }}";
      key = "{{ .Values.config.fullKey }}";
      opc= "{{ .Values.config.opc }}";
      dnn= "{{ .Values.config.dnn }}";
      nssai_sst="{{ .Values.config.sst }}";
      nssai_sd="{{ .Values.config.sd }}";
      }
